* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

header {
  background-color: red;
  padding: 10px;
  overflow: auto;
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: wheat;
}

.logo {
  float: left;
}

nav {
  float: right;
}

content {
  clear: both;
  padding: 20px;
}

content > h1, content > p {
  padding: 20px;
}

.btn-top {
  border: 1px solid lightblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-aligm: center;

 position: fixed;
 bottom: 10px;
 right: 10px;
}

.btn-top > i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: gtay;
}

.btn-top:hover {
  background-color: gray;
  color: aqua;
}