[href] {
  color: red;
}
/* 속성에도 css지정이 가능함 */
/* 태그, 아이디, 클래스 말고도 해당 태그에 속성을 가지고도 할수 있음 */

h1[class] {
  background-color: pink;
}
/* 태그와 속성을 조합할 수 있음 */
/* 앞에는 태그 뒤에는 속성 */
/* 태그명[속성명] {

     }    */

[class="green"] {
  background-color: green;
}
/* 속성명 뿐만 아니라 속성값으로도 선택자를 사용할 수 있음 */

[title~="태그"] {
  color: red;
}
/* ~= 공백으로 구분해서 해당 단어가 있는 속성 */

[title|="태그"] {
  color: red;
}
/* 속성명이 정확하게 해당 단어, 단어 뒤 - 나오는거 */
/*  Ex) 태그-asdasd */

[title^="태그"] {
  color: red;
}
/* ^=해당 단어로 시작하는 */

[title$="태그"] {
  color: blue;
}
/* $=해당 단어로 끝나는 */

[title*="태그"] {
  font-style: italic;
}
/* *=해당 단어를 포함하는  */